{% extends "base.html" %}
{% load i18n %}
{% block design %}

<ul>
    <li><a href="{% url edit_my_profile %}">{% trans "Edit my profile" %}</a></li>
    <li><a href="{% url password_change %}">{% trans "Change password" %}</a></li>
    <li></li>
    <li><a href="{% url apply_for_position %}">{% trans "Apply for position" %}</a></li>
</ul>

<h2>{% trans "My profile" %}</h2>

{% if not person.email_confirmed %}
<p>{% trans "Please confirm that your e-mail address is valid by clicking on the link in the confirmation mail." %}</p>
{% endif %}

<table>
    <tr>
        <th>{% trans "First name" %}</th>
        <td>{{person.fname}}</td>
    </tr>
    <tr>
        <th>{% trans "Last name" %}</th>
        <td>{{person.lname}}</td>
    </tr>
    <tr>
        <th>{% trans "Social security number" %}</th>
        <td>{{person.ssn}}</td>
    </tr>
    <tr>
        <th>{% trans "Phone number" %}</th>
        <td>{{person.phone}}</td>
    </tr>
    <tr>
        <th>{% trans "E-mail" %}</th>
        <td>{{person.email}}</td>
    </tr>
    <tr>
        <th>{% trans "Area of study" %}</th>
        <td>{{person.study_area}}</td>
    </tr>
    <tr>
        <th>{% trans "Starting year" %}</th>
        <td>{{person.starting_year}}</td>
    </tr>
    <tr>
        <th>{% trans "driver license" %}</th>
        <td>{{person.driver_license.all|join:", "}}</td>
    </tr>
    <tr>
        <th>{% trans "forklift license" %}</th>
        <td>{{person.forklift_license.all|join:", "}}</td>
    </tr>
    <tr>
        <th>{% trans "Allergies and food preferences" %}</th>
        <td>{% if person.allergies %}{{person.allergies|linebreaks}}{% else %}{% trans "None" %}{% endif %}</td>
    </tr>
    <tr>
        <th>{% trans "shirt size" %}</th>
        <td>{{person.shirt_size}}</td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
        <th>{% trans "Username" %}</th>
        <td>{{person.user.username}}</td>
    </tr>
    <tr>
        <th>{% trans "Password" %}</th>
        <td><a href="{% url password_change %}">{% trans "Change password" %}</a></td>
    </tr>
</table>

<h2>{% trans "Applications" %}</h2>

<a name="applications"></a>

<table>
    <tr>
        <th>{% trans "Positions" %}</th>
        <th>{% trans "State" %}</th>
    </tr>
{% for application in person.application_set.all %}
    <tr>
        <td>{{ application.preferred_position1 }}{% if application.preferred_position2 %}, {{ application.preferred_position2 }}{% endif %}{% if application.preferred_position3 %}, {{ application.preferred_position3 }}{% endif %}</td>
        <td>{{ application.state }}</td>
    </tr>
{% endfor %}
</table>

{% endblock design %}


