{% extends "base.html" %}
{% load i18n %}
{% block design %}

<table border="1">
    <tr>
        <th>{% trans "State" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Phone number" %}</th>
        <th>{% trans "E-mail" %}</th>
        <th>{% trans "Area of study" %}</th>
        <th>{% trans "Starting year" %}</th>
        <th>{% trans "Driver license" %}</th>
        <th>{% trans "Forklift license" %}</th>
        <th>{% trans "Allergies and food preferences" %}</th>
        <th>{% trans "Shirt size" %}</th>
    </tr>
    {% for person in people %}
    <tr>
        <td>{% if person.application_set.exists %}Hest{% endif %}</td>
        <td>{{person.fname}} {{person.lname}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.email}}</td>
        <td>{{person.study_area}}</td>
        <td>{{person.starting_year}}</td>
        <td>{{person.driver_license.all|join:", "}}</td>
        <td>{{person.forklift_license.all|join:", "}}</td>
        <td>{% if person.allergies %}{% trans "Yes" %}{% else %}&nbsp;{% endif %}</td>
        <td>{{person.shirt_size}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock design %}



