{% extends "base.html" %}
{% load i18n %}
{% block design %}

<p><a href="{% url list_applications %}">{% trans "Back" %}</a></p>

<table border="1">
    <tr>
        <th>{% trans "State" %}</th>
        <td>{{application.state|capfirst}}</td>
    </tr>
    <tr>
        <th>{% trans "Name" %}</th>
        <td>{{application.person.fname}} {{application.person.lname}}</td>
    </tr>
    <tr>
        <th>{% trans "Phone number" %}</th>
        <td>{{application.person.phone}}</td>
    </tr>
    <tr>
        <th>{% trans "Preferred position 1" %}</th>
        <td>{{application.preferred_position1}}</td>
    </tr>
    <tr>
        <th>{% trans "Preferred position 2" %}</th>
        <td>{{application.preferred_position2|default:""}}</td>
    </tr>
    <tr>
        <th>{% trans "Preferred position 3" %}</th>
        <td>{{application.preferred_position3|default:""}}</td>
    </tr>

    <tr>
        <th>{% trans "Social security number" %}</th>
        <td>{{application.person.ssn}}</td>
    </tr>
    <tr>
        <th>{% trans "E-mail" %}</th>
        <td><a href="mailto:{{application.person.email}}">{{application.person.email}}</a></td>
    </tr>
    <tr>
        <th>{% trans "Area of study" %}</th>
        <td>{{application.person.study_area}}</td>
    </tr>
    <tr>
        <th>{% trans "Starting year" %}</th>
        <td>{{application.person.starting_year}}</td>
    </tr>
    <tr>
        <th>{% trans "driver license" %}</th>
        <td>{{application.person.driver_license.all|join:", "}}</td>
    </tr>
    <tr>
        <th>{% trans "forklift license" %}</th>
        <td>{{application.person.forklift_license.all|join:", "}}</td>
    </tr>
    <tr>
        <th>{% trans "Allergies and food preferences" %}</th>
        <td>{% if application.person.allergies %}{{application.person.allergies|linebreaks}}{% else %}{% trans "None" %}{% endif %}</td>
    </tr>
    <tr>
        <th>{% trans "shirt size" %}</th>
        <td>{{application.person.shirt_size}}</td>
    </tr>
</table>

<hr>

{% for comment in application.applicationcomment_set.all %}
    <p>{{comment.person}} {{comment.created}}
    <p>{{comment.text|linebreaks}}</p>
{% endfor %}

<hr />

<form method="post" action="{% url add_application_comment application.pk %}">
    {% csrf_token %}
    <table>
        {{acform}}
        <tr>
            <th>&nbsp;</th>
            <td><input type="submit" value="{{button_text}}" id="submit_button"></td>
        </tr>
    </table>
</form>



{% endblock design %}



